/*
    Knob Slider CSS
    This file contains the styles for the knob slider component.
    It includes styles for the slider, knob, rotator, pointer frame, progress bar,
    value display, and filter type.
*/

/* 
    For the MAIN KNOB SLIDER container
    Includes: slider-container (DIV) = [ slider (DIV) * n(7) ]
*/
#slider-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    gap: 1vw
}

/*
    Includes: slider(DIV) = [ slider-wrapper(DIV), filter-type (DIV) ]
*/
.slider {
    display: block;
}
/* For the Filter Type for Calculation (VISIBLE) */
.filter-type {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: rgb(57, 55, 53);
    text-transform: uppercase;
    font-weight: 700;
    white-space: nowrap;
}
/*
    For the main Single Slider container
    Includes: slider-wrapper(DIV) = [ knob (DIV), progress-bar (DIV), filter-type (DIV) ]
*/

@media (min-width: 800px) {.slider {width: 13vw}}
@media (max-width: 800px) {
    #slider-container > :nth-child(-n+3) {width: 28vw}
    #slider-container > :nth-last-child(-n+4) {width: 23.5vw}
}
.slider-wrapper{
    aspect-ratio: 1/1;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
/* Includes: knob (DIV) = [ rotator (DIV) , .pointer-frame (DIV) ] */
.knob {
    width: 75%;
    aspect-ratio: 1/1;
    background: rgb(222, 222, 222);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
/*
    For the pointer frame and pointer svg
    Includes: pointer-frame (DIV) = pointer (SVG)
*/
.knob .pointer-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}
.knob:is(:hover,:active) .pointer {
    bottom: -3%;
}
.pointer {
    position: absolute;
    height: 20%;
    bottom: -1%;
    left: 50%;
    transform: translateX(-50%);
}
/*
    For the colored progress bar
    Includes: progress-bar (DIV) = SVG with n+1 circles
*/
.progress-bar {
    width: 100%;
    height: 100%;
    transform: rotate(90deg);
}
circle {
    fill: none;
}
circle:nth-child(1) {
    stroke: rgba(0, 0, 0, 0.7);
    stroke-width: 40px;
    stroke-dasharray: 848;
    transform-origin: center;
    stroke-linecap: round;
}
circle:nth-child(n+2) {
    stroke-width: 36px;
    stroke-dasharray: 0 848;
    transform-origin: center;
    stroke-linecap: round;
}
/*
    For the value and unit inside the knob on the rotator
    Includes: rotator (DIV) = [ value (SPAN) , unit (SPAN), exact-value (INPUT) ]
*/
.knob .rotator {
    width: 80%;
    aspect-ratio: 1/1;
    background: rgb(235, 235, 235);
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

@media (min-width: 800px) {
    .knob .rotator {
        box-shadow: 0.26vw 0.26vw 0.26vw rgba(0, 0, 0, 0.2), inset 0.09vw 0.17vw 0.09vw white,
            0.17vw -0.09vw 0.09vw rgba(0, 0, 0, 0.2), -0.09vw 0px 0.09vw rgba(0, 0, 0, 0.2);
    }
    .knob .rotator:is(:hover,:active) {
        transform: scale(1.02);
        box-shadow: 0.36vw 0.36vw 0.36vw rgba(0, 0, 0, 0.4), inset 0.36vw 0.36vw 0.13vw white,
            0.28vw -0.13vw 0.13vw rgba(0, 0, 0, 0.4), -0.13vw 0px 0.13vw rgba(0, 0, 0, 0.4);
    }
}
@media (max-width: 800px) {
    .knob .rotator {
        box-shadow: 0.36vw 0.36vw 0.36vw rgba(0, 0, 0, 0.2), inset 0.13vw 0.28vw 0.18vw white,
            0.28vw -0.13vw 0.13vw rgba(0, 0, 0, 0.2), -0.13vw 0px 0.13vw rgba(0, 0, 0, 0.2);
    }
    .knob .rotator:is(:hover,:active) {
        transform: scale(1.03);
        box-shadow: 0.48vw 0.48vw 0.48vw rgba(0, 0, 0, 0.4), inset 0.40vw 0.40vw 0.18vw white,
            0.36vw -0.18vw 0.18vw rgba(0, 0, 0, 0.4), -0.18vw 0px 0.18vw rgba(0, 0, 0, 0.4);
    }
}
.knob .value {
    font-size: 1.53rem;
    font-weight: 600;
    color: rgb(57, 55, 53);
    border-radius: 50%;
    line-height: 1;
}
.knob .unit {
    font-size: 0.75rem;
    color: rgb(57, 55, 53);
}
/* For the INPUT of exact value inside the knob for Calculations (NOT VISIBLE) */
.exact-value {
    display: none;
}